@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #262626;

  --light-color: #feedbc;
}

body {
  color: var(--foreground);
  background: var(--light-color);
  font-family: var(--font-el-messiri-sans), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@layer base {
  p {
    font-size: 20px;
    line-height: 20px;
  }

  h1 {
    font-size: 80px;
    line-height: 90px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
    @apply uppercase
  }

  .content-sheet-x {
    @apply px-5 md:px-16 lg:px-32 xl:px-64;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}